

body{
    background-color: #7a7977;
    color: #e6e6e6;
}
 #banner {
    background-blend-mode: screen;
 }
h1 {
    color: #38454d;
    text-align: center;
    font-size: 23px;
}

a {
    color: #000000;
    text-decoration: none;
}

.container {

    width: 100%;
    height: 100vh;
}

.box {
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
}

ul, dl {
    text-align: left;
}

dt {
    font-weight: bold;
}

dt::before {
    content: '•';
    margin-right: .2rem;
}

p {
    text-align: justify;
    text-indent: 60px
}